## TOPIC: String Based Assignment Problem

### 1. Write a program to reverse a string.

In [1]:
str1=input("enter a string: ")
str2=str1[::-1]
print(str2)

enter a string: hello world
dlrow olleh

### 2. Check if a string is a palindrome.

In [2]:
str2=input("enter the string: ")
palindrome_str=str2[::-1]
if(str2==palindrome_str):
    print("given string is palindrome")
else:
    print("given string is not palindrome ")

enter the string: dad
given string is palindrome

### 3. Convert a string to uppercase.

In [3]:
str3=input("enter your string:")
convert_to_upper_str=str3.upper()
print(convert_to_upper_str)

enter your string:hello world
HELLO WORLD

### 4. Convert a string to lowercase.

In [4]:
str4=input("enter your string:")
convert_to_lower_str=str4.lower()
print(convert_to_lower_str)

enter your string:HELLO WORLD
hello world

### 5. Count the number of vowels in a string.

In [5]:
# taking string from user to find no of vowels
str5=input("enter the string: ")
# declaring count value to zero 
count=0
vowels="aeiou" #declaring set of vowels 
# using for loop to access every index in string
for vowel in str5:
    if vowel in vowels:
#         if vowel is present in index of string then incrementing count value
        count=count+1
# printing final  value present in count variable    
print("no of vowels are : ",count)

enter the string: hello
no of vowels are :  2

### 6. Count the number of consonants in a string.

In [6]:
# taking string from user to find no of vowels
str6=input("enter the string: ")
# declaring count value to zero 
count=0
consonants="bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"

#declaring set of vowels 
# using for loop to access every index in string
for consonant in str6:
    if consonant  in consonants:
#         if consonant is present in index of string then incrementing count value
        count=count+1
# printing final  value present in count variable    
print("no of consonants are : ",count)

enter the string: hello
no of consonants are :  3

### 7. Remove all whitespaces from a string.

In [7]:
str7=input("enter your string: ")
remove_space=str7.replace(" ","")
print(remove_space)

enter your string: this is pwskills
thisispwskills

### 8. Find the length of a string without using the `len()` function.

In [8]:
str8=input("enter your string: ")
count=0
for i in str8:
    count=count+1
print("length of string is: ",count)

enter your string: vishal
length of string is:  6

### 9. Check if a string contains a specific word.

In [9]:
str9=input("enter your string: ")
specific_word=input("enter specific word: ")
if specific_word in str9:
    print("specific word is present in this string")
else:
    print("the specific word is absent in string")

enter your string: this is pwskills
enter specific word: pwskills
specific word is present in this string

### 10. Replace a word in a string with another word.

In [10]:
str10=input("enter the string: ")
which_word=input("enter which word: ")
replace_word=input("enter replacing word: ")
str11=str10.replace(which_word,replace_word)
print("new string is: ",str11)

enter the string: hello india
enter which word: hello
enter replacing word: namasta
new string is:  namasta india

### 11. Count the occurrences of a word in a string.

In [11]:
str11=input("enter the string: ")
occurrences=input("enter word to check occurrence: ")

str12=str11.count(occurrences)
print("occurrences of word "+occurrences+" is: ",str12)

enter the string: hello hello hello
enter word to check occurrence: hello
occurrences of word hello is:  3

### 12. Find the first occurrence of a word in a string.

In [12]:
str13="hello india hello"
occ_str1="hello"
first_occ=str13.find(occ_str1)
if first_occ != -1:
    print("The first occurrence of "+occ_str1+" is at index ",first_occ)

The first occurrence of hello is at index  0

### 13. Find the last occurrence of a word in a string.

In [13]:
str14="hello india hello"
occ_str2="hello"
last_occ=str14.rfind(occ_str2)
if last_occ != -1:
    print("The last occurrence of "+occ_str2+" is at index ",last_occ)

The last occurrence of hello is at index  12

### 14. Split a string into a list of words.

In [14]:
str15="hello this is india"
split_str=str15.split(" ")
print(list(split_str))

['hello', 'this', 'is', 'india']

### 15. Join a list of words into a string.

In [15]:
list16=["hello","this","is","india"]
split_str1=" ".join(list16)
str16=split_str1
print(str(str16))

hello this is india

### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [16]:
str17="hello strings are immutable"
str_convert=str17.replace(" ","_")
print(str_convert)

hello_strings_are_immutable

### 17. Check if a string starts with a specific word or phrase.

In [17]:
str18="welcome to india"
specific_word="welcome"
if str18.startswith(specific_word):
    print("yes this string starts with the word ",specific_word)    
else:
    print("this string do not start with the word ",specific_word)

yes this string starts with the word  welcome

### 18. Check if a string ends with a specific word or phrase.

In [18]:
str19="welcome to india"
specific_word1="india"
if str19.endswith(specific_word1):
    print("yes this string ends with the word ",specific_word1)   
else:
    print("this string do not end with word ",specific_word1)

yes this string ends with the word  india

### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [19]:
str20="hello world"
conv_str=str20.title()
print(conv_str)

Hello World

### 20. Find the longest word in a string.

In [20]:
str21="finding the long word in string"
words =str21.split()
print(words)
longest_word = ""
max_length = 0
for word in words:
    word = word.strip(" ")
    if len(word) > max_length:
        max_length = len(word)
        longest_word = word
print("The longest word is "+longest_word)

['finding', 'the', 'long', 'word', 'in', 'string']
The longest word is finding

### 21. Find the shortest word in a string.

In [21]:
str_word="hello iam learning at pwskills"
short_words = str_word.split()
    
    # Initialize the shortest word as the first word in the list
shortest_word = short_words[0]
    
    # Iterate through the words and update the shortest word
for word in short_words:
    if len(word) < len(shortest_word):
        shortest_word = word
print("the shortest word is: ",shortest_word)

the shortest word is:  at

### 22. Reverse the order of words in a string.

In [22]:
str22 = "hello world "

# Split the input string into words using spaces as the delimiter
words = str22.split()

# Reverse the list of words
reversed_words = list(reversed(words))

# Join the reversed words back into a single string
reversed_string = ' '.join(reversed_words)
print(reversed_string)

world hello

### 23. Check if a string is alphanumeric.

In [23]:
str23 = "vishal123"  # Replace with your string

if str23.isalnum():
    print("The string  "+str23+" is alphanumeric.")
else:
    print("The string " +str23+" is not alphanumeric.")

The string  vishal123 is alphanumeric.

### 24. Extract all digits from a string.

In [24]:
str24 = "The price of the item is 29rs and the quantity is 3."

# Initialize an empty string to store the extracted digits
str_digits = ""

# Iterate through the characters in the input string
for i in str24:
    if i.isdigit():
        str_digits += i

print("digits in given string are: ",str_digits)

digits in given string are:  293

### 25. Extract all alphabets from a string.

In [25]:
str25 = "The price of the item is 29rs and the quantity is 3."

# Initialize an empty string to store the extracted digits
str_alphabets = ""

# Iterate through the characters in the input string
for i in str25:
    if i.isalpha():
        str_alphabets += i

print("alphabets in given string are: ",str_alphabets)

alphabets in given string are:  Thepriceoftheitemisrsandthequantityis

### 26. Count the number of uppercase letters in a string.

In [1]:
str26="Hello iam From India"
str_upper=""
upper_case=0
for letter in str26:
    if letter.isupper():
        str_upper+=letter
        upper_case=upper_case+1
print("no of uppercase letters in string are: ",upper_case)

no of uppercase letters in string are:  3

### 27. Count the number of lowercase letters in a string.

In [2]:
str27="HELLo pwskills are BEST"
str_lower=""
lower_case=0
for letter in str27:
    if letter.islower():
        str_lower+=letter
        lower_case=lower_case+1
print("no of lowercase letters are: ",lower_case)

no of lowercase letters are:  12

### 28. Swap the case of each character in a string.

In [28]:
str28="Swapping Case"
swapped_str=str28.swapcase()
print("swapping each character in string: ",swapped_str)

swapping each character in string:  sWAPPING cASE

### 29. Remove a specific word from a string.

In [29]:
str29="hello india"
specific_word="hello"
list1=list(str29.split())

if specific_word in list1:
    list1.remove(specific_word)
    
l2=list(list1)
str_list=' '.join(l2)

print(str_list)

india

### 30. Check if a string is a valid email address.

In [30]:
import re
email1=input("enter your email: ")
pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
if re.match(pattern, email1):
    print("this email is valid ")
else:
    print("this email is not valid")

enter your email: vishalvishal7701@gmail.com
this email is valid

### 31. Extract the username from an email address string.

In [31]:
str31=input("enter your email: ")
username=str31.split('@')[0]
print("your username is: ",username)

enter your email: vishal7701@gmail.com
your username is:  vishal7701

### 32. Extract the domain name from an email address string.

In [32]:
str32=input("enter your email: ")
domainname=str32.split('@')[1]
print("your domain_name is: ",domainname)

enter your email: vishal7703@gmail.com
your domain_name is:  gmail.com

### 33. Replace multiple spaces in a string with a single space.

In [33]:
str33="hello                iam       learning   python"
replace_str = ' '.join(str33.split()) 
print(replace_str)

hello iam learning python

### 34. Check if a string is a valid URL.

In [37]:
from urllib.parse import urlparse
def check_url(url):
    try:
        parsed_url = urlparse(url)
        return all([parsed_url.scheme, parsed_url.netloc])
    except Exception as e:
        return False

# Test the function with examples
url1 = "https://www.example.com"
url2 = "vishal124_url"
if check_url(url1):
    print(url1+ " is a valid URL.")
else:
    print(url1+" is not a valid URL.")
if check_url(url2):
    print(url2+ " is a valid URL.")
else:
    print(url2+" is not a valid URL.")

https://www.example.com is a valid URL.
vishal124_url is not a valid URL.

### 35. Extract the protocol (http or https) from a URL string.

In [38]:
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

### 36. Find the frequency of each character in a string.

In [39]:
def char_freq(string):
    # Create an empty dictionary to store character frequencies
    char_freq = {}
    for char in string:
        if char in char_freq:
            char_freq[char] += 1
        else:
            char_freq[char] = 1
    return char_freq

# Test the function with an example
str36 = "hello iam vishal how are you"
frequency = char_freq(str36)

# Print the character frequencies
for char, freq in frequency.items():
    print(f"'{char}': {freq}")

'h': 3
'e': 2
'l': 3
'o': 3
' ': 5
'i': 2
'a': 3
'm': 1
'v': 1
's': 1
'w': 1
'r': 1
'y': 1
'u': 1

### 37. Remove all punctuation from a string.

In [49]:
import string
str37 = "Hello, World! This is a string without punctuation."
translator=str.maketrans('','',string.punctuation)
clean_string=str37.translate(translator)
cleaned_str =clean_string
print(cleaned_str)

Hello World This is a string without punctuation

### 38. Check if a string contains only digits.

In [50]:
str38=input("enter any string: ")
check_str_digits=str38.isdigit()
print(check_str_digits)

enter any string: 123
True

### 39. Check if a string contains only alphabets.

In [52]:
str39=input("enter any string: ")
check_str_alpha=str39.isalpha()
print(check_str_alpha)

enter any string: helloworld
True

### 40. Convert a string to a list of characters.

In [53]:
str40=input("enter any string: ")
conv_str_list=list(str40)
print(conv_str_list)

enter any string: hello world
['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

### 41. Check if two strings are anagrams.

In [54]:
def are_anagrams(str41, str42):
    # Remove spaces and convert strings to lowercase for accurate comparison
    str41 = str41.replace(" ", "").lower()
    str42 = str42.replace(" ", "").lower()

    # Sort the characters in both strings and compare
    return sorted(str41) == sorted(str42)

# Example strings
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

# Check if strings are anagrams
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

# Print the results
print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

### 42. Encode a string using a Caesar cipher.

In [55]:
def caesar_cipher(text, shift):
    encoded_text = ""
    for char in text:
        if char.isalpha():
            is_upper = char.isupper()
            char = char.lower()
            shifted = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))
            if is_upper:
                shifted = shifted.upper()
            encoded_text += shifted
        else:
            encoded_text += char
    return encoded_text
plaintext = "Hello, World!"
shift = 3
encoded_text = caesar_cipher(plaintext, shift)
print("Encoded:", encoded_text)

Encoded: Khoor, Zruog!

### 43. Decode a Caesar cipher encoded string.

In [56]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """
    decoded_text = ""
    for char in text:
        if char.isalpha():
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            decoded_char = char
        decoded_text += decoded_char
    # Return the fully decoded text
    return decoded_text

text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

### 44. Find the most frequent word in a string.

In [57]:
import re
from collections import Counter
def most_frequent_word(str44):
                                                          # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '',str44).lower()
                                                          # Split the string into words
    words = clean_string.split()
                                                         # Use Counter to count word frequencies
    word_counter = Counter(words)
                                                         # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word

# Example string
str44 = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(str44)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

### 45. Find all unique words in a string.

In [58]:
import re

str45 = "Hello world, hello there! How's the world?"
clean_string = re.sub(r'[^\w\s]', '',str45).lower()
words = set(clean_string.split())
# Find unique words
unique_word_set =words
# Print the result
print("Unique words:", unique_word_set)

Unique words: {'the', 'hello', 'there', 'hows', 'world'}

### 46. Count the number of syllables in a string.

In [59]:
import re

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = vowel_groups = len(re.findall(r'[aeiouy]+', word1, re.IGNORECASE))
syllables2 = vowel_groups = len(re.findall(r'[aeiouy]+', word2, re.IGNORECASE))
syllables3 = vowel_groups = len(re.findall(r'[aeiouy]+', word3, re.IGNORECASE))

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

### 47. Check if a string contains any special characters.

In [60]:
import re

# Example usage
test_string = "Hello, World!"

pattern = r'[^A-Za-z0-9]'
if re.search(pattern, test_string):
    print("The string contains special characters.")    
else:
    print("The string does not contain special characters.")

The string contains special characters.

### 48. Remove the nth word from a string.

In [61]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if 1 <= n <= len(words):
        # Remove the nth word
        words.pop(n - 1)

        # Join the remaining words back into a string
        result_string = ' '.join(words)
        return result_string
    else:
        # If n is out of range, return the original string
        return input_string

# Example usage:
input_string = "This is a sample sentence to test the function."
n=int(input("enter which term"))
result = remove_nth_word(input_string, n)
print("Modified String:", result)

enter which term4
Modified String: This is a sentence to test the function.

### 49. Insert a word at the nth position in a string.

In [62]:
word_to_insert = input("enter word to insert: ")
n = int(input("enter at which position: "))


str49 = "This is a test."

if n <= 0:
    result=word_to_insert + str49
elif n >= len(str49):
     result=str49 + word_to_insert
else:
    result=str49[:n] + word_to_insert + str49[n:]

print(result)

enter word to insert: hello
enter at which position: 4
Thishello is a test.

### 50. Convert a CSV string to a list of lists.

In [64]:
# Example CSV string
csv_data = "Name, age, Country\nvishal, 20, india\nAlice, 30, Canada\nBob, 22, UK"  
lines = csv_data.split('\n')      
result = []

for line in lines:          # Split each line into fields using comma as the delimiter
    fields = line.split(',')     # Append the fields to the result list as a row
    result.append(fields)
    
list_of_lists =result          # Convert CSV string to a list of lists
                
for row in list_of_lists:          # Printing the result
    print(row)

['Name', ' age', ' Country']
['vishal', ' 20', ' india']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

## List Based Practice Problem :

### 1. Create a list with integers from 1 to 10.

In [3]:
list1=[]  # creating empty list
for i in range(1,11):
    list1.append(i)   # appending all i value in range 
print("list of integers are: ",list1)    # printing the list

list of integers are:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [6]:
len_list2=0   
list2=[0,2,3,4,"hello"]   
for i in list2:
    len_list2+=1  
print(len_list2)  #printing length of list

5

### 3. Append an element to the end of a list.

In [9]:
append_list3="hello"
list_3=[0,1,2,79.4]
list_3.append(append_list3)  #appending append_list3 value to existing list using append function
print(list_3)   #printing value

[0, 1, 2, 79.4, 'hello']

### 4. Insert an element at a specific index in a list.

In [13]:
insert_list_word="pwskills"
list_4=[3.14,23,69]
pos=int(input("enter at which position: "))
list_4.insert(pos,insert_list_word)           #Inserting an element at a specific index in a list.
print(list_4)

enter at which position: 1
[3.14, 'pwskills', 23, 69]

### 5. Remove an element from a list by its value.

In [15]:
remove_element="hello"
list5=["pwskills","hello","world"]
list5.remove(remove_element)         #Remove an element from a list by its value
print(list5)

['pwskills', 'world']

### 6. Remove an element from a list by its index.

In [18]:
list6=[1,3,4.44,"$","hello"]
index_list6=int(input("enter at which position: "))
list6.pop(index_list6)                    #Removing an element from a list by its index
print(list6)

enter at which position: 2
[1, 3, '$', 'hello']

### 7. Check if an element exists in a list.

In [23]:
check_element="hello123"
list7=["hello123",323,2.9,1.7]
if check_element in list7:  #Checking if an element exists in a list
    print("element ",check_element ," exit in a list")
else:
    print("element don't exist in list")

element  hello123  exit in a list

### 8. Find the index of the first occurrence of an element in a list.

In [25]:
list8=["hello","india","delhi","hello"]
index_list8=list8.index("hello")   #Finding the index of the first occurrence of an element in a list
print("first occurrence of hello ",index_list8)

first occurrence of hello  0

### 9. Count the occurrences of an element in a list.

In [26]:
list9=["hello",1,1,1,1,1]
count_item=1        #Counting the occurrences of an element in a list using count function
print("occurance of element ",count_item,"is: ",list9.count(count_item))

occurance of element  1 is:  5

### 10. Reverse the order of elements in a list.

In [30]:
list10=[1,"hello",8.0,"king"]
temp_list10=list10[::-1]  #Reversing the order of elements in a list
print(temp_list10)

['king', 8.0, 'hello', 1]

### 11. Sort a list in ascending order.

In [34]:
list11=[99,4,6,2,1,0,2988]
temp_list11=sorted(list11)   #Sort a list in ascending order.
print(temp_list11)

[0, 1, 2, 4, 6, 99, 2988]

### 12. Sort a list in descending order.

In [37]:
list12=[1,2,3,4,2,3,90,2000]
temp_list12=sorted(list12,reverse=True)  
print(temp_list12)

[2000, 90, 4, 3, 3, 2, 2, 1]

### 13. Create a list of even numbers from 1 to 20.

In [38]:
list13=[]
for i in range(1,20):
    if i%2==0:  #Creating a list of even numbers from 1 to 20
        list13.append(i)
print(list13)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

### 14. Create a list of odd numbers from 1 to 20.

In [39]:
list14=[]
for i in range(1,20):
    if i%2!=0:  #Creating a list of odd numbers from 1 to 20
        list14.append(i)
print(list14)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [43]:
list15=[1,2,3,4,10]
sum=0
for i in range(len(list15)):
    sum=sum+list15[i]   #finding sum of elements in list using variable sum
print("sum of list elements is: ",sum)

sum of list elements is:  20

### 16. Find the maximum value in a list.

In [46]:
max=0
list16=[900,1,23,29]
for i in range(len(list16)):
    if max<list16[i]:  #finding max value in a list
        max=list16[i]
print("maximum value in list is: ",max)

maximum value in list is:  900

### 17. Find the minimum value in a list.

In [51]:
list17=[12,3,23,28,29]
temp_list17=sorted(list17)  #finding minimum value in a list
min=temp_list17[0]
print(min)

3

### 18. Create a list of squares of numbers from 1 to 10.

In [53]:
list18 = [i*i for i in  range(1,10)] #Creating a list of squares of numbers from 1 to 10
print(list18)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### 19. Create a list of random numbers.

In [64]:
import random
list19=[]
for i in range(10):
    temp_list19=random.randint(1,100)  #Creating a list of random numbers.
    list19.append(temp_list19)
print(list19)

[100, 32, 88, 36, 84, 82, 6, 53, 69, 6]

### 20. Remove duplicates from a list.

In [65]:
list20=[1,1,1,2,4,5,6,3,7]

temp_list20=list(set(list20))  #Removing duplicates from a list
print(temp_list20)

[1, 2, 3, 4, 5, 6, 7]

### 21. Find the common elements between two lists.

In [67]:
temp_list_1=[1,20,30,2]
temp_list_2=[20,40,1,2]
set_list_1=set(temp_list_1)
set_list_2=set(temp_list_2)   #Finding the common elements between two lists.
common_two_list=set_list_1.intersection(set_list_2)
to_list=list(common_two_list)
print(to_list)

[1, 2, 20]

### 22. Find the difference between two lists.

In [69]:
temp_list_21=[1,20,30,2]
temp_list_22=[20,40,1,2]
set_list_21=set(temp_list_21)
set_list_22=set(temp_list_22)   #Finding  the difference between two lists
common_two_list=set_list_21.difference(set_list_22)
to_list=list(common_two_list)
print(to_list)

[30]

### 23. Merge two lists.

In [71]:
merge_list_1=[1,2,3,200]
merge_list_2=[29,75,45,34]
temp_merge=merge_list_1+merge_list_2 #Merging two lists
print(temp_merge)

[1, 2, 3, 200, 29, 75, 45, 34]

### 24. Multiply all elements in a list by 2.

In [74]:
# Example list
list24 = [23, 29, 20, 40, 7]

# Multiplying all elements by 2 using a list comprehension
mult_list = [element * 2 for element in list24]

# Print the multiplied list
print("Multiplied list of list24 is: ", mult_list)

Multiplied list of list24 is:  [46, 58, 40, 80, 14]

### 25. Filter out all even numbers from a list.

In [77]:
list25=[2,3,4,6,5,7,9,10]
filt_list_25=[]
for i in list25:     #Filtering out all even numbers from a list.
    if i%2==0:
        filt_list_25.append(i)
print(filt_list_25)

[2, 4, 6, 10]

### 26. Convert a list of strings to a list of integers.

In [1]:
list26 = ["1", "2", "3", "4", "5"]
int_list = [int(i) for i in list26]
#Converting a list of strings to a list of integers
print(int_list)

[1, 2, 3, 4, 5]

### 27. Convert a list of integers to a list of strings.

In [2]:
list27 = [1,2,3,4,5]
str_list = [str(i) for i in list27]
#Converting a list of integers to a list of strings
print(str_list)

['1', '2', '3', '4', '5']

### 28. Flatten a nested list.

In [17]:
def flatten_list(list28):
    flattened = []
    for i in list28:
        if isinstance(i, list):
            flattened.extend(flatten_list(i))   #Flattening a nested list using extend function
        else:
            flattened.append(i)
    return flattened

list28 = [1, [2, 3], [4, [5, 6]], 7]

flat_list = flatten_list(list28)

print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

### 29. Create a list of the first 10 Fibonacci numbers.

In [18]:
# Initialize the first two Fibonacci numbers
list_fibonacci_sequence = [0, 1]

# Calculate and append the next 8 Fibonacci numbers
for i in range(2, 10):
    next_fibonacci = list_fibonacci_sequence[i - 1] + list_fibonacci_sequence[i - 2]
    list_fibonacci_sequence.append(next_fibonacci)

print(list_fibonacci_sequence)  #printing fibonachi list

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 30. Check if a list is sorted.

In [21]:
str30=[1,2,4,2]
temp_list30=sorted(str30)
if str30==temp_list30:                   #Checking if a list is sorted
    print("the list is sorted")
else:
    print("the list is not sorted")

the list is not sorted

### 31. Rotate a list to the left by `n` positions.

In [29]:
list31 = [1, 2, 3, 4, 5]
n = 2  # Number of positions to rotate left
if not list31:
    list31

n %= len(list31)  # Ensure n is within the range of the list length
rotated_list = list31[n:] + list31[:n]
print(rotated_list)

[3, 4, 5, 1, 2]

### 32. Rotate a list to the right by `n` positions.

In [30]:
list32 = [1, 2, 3, 4, 5]
n = 2  # Number of positions to rotate left
if not list32:
    list32

n %= len(list32)  # Ensure n is within the range of the list length
rotated_list = list32[-n:] + list32[:-n]
print(rotated_list)

[4, 5, 1, 2, 3]

### 33. Create a list of prime numbers up to 50.

In [33]:
def check_prime(num):
    if num<=1:
        return False
    if num<=3:
        return True
    if num%2==0 or num%3==0:
        return False
    i=5
    while i*i<=num:
        if num%i==0 or num%(i + 2)==0:
            return False
        i+= 6
    return True

# Use list comprehension to generate a list of prime numbers up to 50
list_prime_numbers = [num for num in range(2, 51) if check_prime(num)]

print(list_prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 34. Split a list into chunks of size `n`.

In [38]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3          #Spliting  a list into chunks of size n.
chunks = [original_list[i:i + chunk_size] for i in range(0, len(original_list), chunk_size)]
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### 35. Find the second largest number in a list.

In [40]:
list35=[3,5,4,2,3,9,1,50,1000]
temp_list35=sorted(list35)      #Finding the second largest number in a list after sorting
sec_largest_num=temp_list35[-2]  
print(sec_largest_num)

50

### 36. Replace every element in a list with its square.

In [44]:
list36=[8,2,25,4,56,2344]
temp_list36=[]
for i in list36:
    i=i*i           #Replacing every element in a list with its squared numbers.
    temp_list36.append(i)
print(temp_list36)

[64, 4, 625, 16, 3136, 5494336]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [52]:

list37 = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(list37)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

### 38. Shuffle the elements of a list randomly.

In [53]:
import random

# Example list
list38 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(list38)

# Print the shuffled list
print("Shuffled list is:", list38)

Shuffled list: [6, 2, 5, 10, 7, 3, 8, 4, 9, 1]

### 39. Create a list of the first 10 factorial numbers.

In [58]:
for n in range(1,11):  # Replace with the number for which you want to calculate the factorial
    temp_list39=[]
    if n < 0:
        print("Factorial is not defined for negative numbers.")
    elif n == 0:
        print("The factorial of 0 is 1")
    else:
        result = 1
        for i in range(1, n + 1):
            result *= i
            temp_list39.append(result)
print("The list of first 10 factorials is: ")
print(temp_list39)

The list of first 10 factorials is:
[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

### 40. Check if two lists have at least one element in common.

In [60]:
# Test cases
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
set1 = set(list1)
set2 = set(list2)
if bool(set1.intersection(set2)):
    print("they have at least one element in common")  # True (they have 5 in common)
else:
    print("no common elements in two lists")

they have at least one element in common

### 41. Remove all elements from a list.

In [63]:
list41=[3,4,6,7,43]
list41.clear()     #removing all elements in list using clear function
print(list41)

[]

### 42. Replace negative numbers in a list with 0.

In [66]:
list42 = [19, -9, 23, -24, 5, -6, 437, -8, 9]

# Using a list comprehension to replace negative numbers with 0
changed_list = [i if i >= 0 else 0 for i in list42]

print(changed_list)

[19, 0, 23, 0, 5, 0, 437, 0, 9]

### 43. Convert a string into a list of words.

In [69]:
text = "This is a sample sentence, and we want to split it into words."

# Split the string into a list of words
list43 = text.split()

print(list(list43))

['This', 'is', 'a', 'sample', 'sentence,', 'and', 'we', 'want', 'to', 'split', 'it', 'into', 'words.']

### 44. Convert a list of words into a string.

In [72]:
list44 = ['This', 'is', 'a', 'list', 'of', 'words']

# Convert the list of words into a string
text = ' '.join(list44)
print(text)

This is a list of words

### 45. Create a list of the first `n` powers of 2.

In [76]:
n = int(input("enter no of elements: ")) # Replace with the desired number of powers
powers_2 = [2 ** i for i in range(n)]

print(powers_2)

enter no of elements: 10
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

### 46. Find the longest string in a list of strings.

In [81]:
list46 = ["pwskills", "kingkong", "ironman", "date", "elderberry"]

# Find the longest string in the list
longest_string = max(list46, key=len)

print("The longest string is:", longest_string)

The longest string is: elderberry

### 47. Find the shortest string in a list of strings.

In [32]:
list47 = ["pwskills", "kingkong", "ironman", "date", "elderberry"]

# Find the longest string in the list
smallest_string = min(list47, key=len)

print("The shortest string is:", smallest_string)

The shortest string is: date

### 48. Create a list of the first `n` triangular numbers.

In [92]:
n = 5  # Replace with the desired number of triangular numbers
list_of_numbers = []

for i in range(1, n + 1):
    trinumber=(i*(i+1))//2
    list_of_numbers.append(trinumber)

print(list_of_numbers)

[1, 3, 6, 10, 15]

### 49. Check if a list contains another list as a subsequence.

In [96]:
def list_subsequence(subsequence, main_list):
    return all(subseq_elem in main_list for subseq_elem in subsequence)


main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

#checking subsequences of main_list
if list_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

### 50. Swap two elements in a list by their indices.

In [97]:
list50=[4,5,1,2,3]  #swapping elements of lists by thier index
swap_list_index1=int(input("enter the index: "))
swap_list_index2=int(input("enter the index: "))
temp=list50[swap_list_index1]
list50[swap_list_index1]=list50[swap_list_index2]
list50[swap_list_index2]=temp
print(list50)

enter the index: 0
enter the index: 2
[1, 5, 4, 2, 3]

## Tuple Based Practice Problem :

### 1. Create a tuple with integers from 1 to 5.

In [103]:
# Step 1: Create a tuple
tuple1 = (10, 20, 30, 40, 50)

print("printing tuple", tuple1)

printing tuple (10, 20, 30, 40, 50)

### 2. Access the third element of a tuple.

In [105]:
# Step 1: Create a tuple with some elements
tuple2 = (10, 20, 69, 40, 50)

# Step 2: Access the third element (index 2) of the tuple
third_element = tuple2[2]

# Step 3: Print the third element
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 69

### 3. Find the length of a tuple without using the `len()` function.

In [108]:
len_tuple3=0   #finding length of tuple using len_tuple3 variable
tuple3=(0,2,3,4,"hello")   
for i in tuple3:
    len_tuple3+=1  
print(len_tuple3)  #printing length of list

5

### 4. Count the occurrences of an element in a tuple.

In [109]:
# Step 1: Create a tuple
tuple4 = ("hello","pwskills","hello")

# Step 2: Choose the element to count occurrences of
to_count = "hello"

# Step 3: Initialize a variable to keep track of the count
count = 0

# Step 4: Iterate through the tuple and count occurrences of the chosen element
for item in tuple4:
    if item == to_count:
        count += 1

# Step 5: Print the count of occurrences
print(f"The element {to_count} appears {count} times in the tuple.")

The element hello appears 2 times in the tuple.

### 5. Find the index of the first occurrence of an element in a tuple.

In [113]:
tuple5 = (1, 29, 3, 4, 29, 5)

find_element = 29

# Find the index of the first occurrence of the element
index = tuple5.index(find_element)

print(f"index of the first occurrence of element {find_element} is {index}")

index of the first occurrence of element 29 is 1

### 6. Check if an element exists in a tuple.

In [115]:
# Step 1: Create a tuple
tuple6 = ("hello", 20, 30, 40, 50)

# Step 2: Choose the element to check for existence
to_check = "hello"

# Step 3: Check if the element exists in the tuple using the 'in' operator
if to_check in tuple6:
    print(f"{to_check} element exists in the tuple.")
else:
    print(f"{to_check} element does not exist in the tuple.")

hello element exists in the tuple.

### 7. Convert a tuple to a list.

In [116]:
tuple7=(2,3,4,"hello",4.33)
list_tuple=list(tuple7)  #converting tuple to list
print(list_tuple)

[2, 3, 4, 'hello', 4.33]

### 8. Convert a list to a tuple.

In [117]:
l8=[3,4,3.33,"hello"]
tuple8=tuple(l8)   #converting list to tuple
print(tuple8)

(3, 4, 3.33, 'hello')

### 9. Unpack the elements of a tuple into variables.

In [120]:
# Step 1: Create a tuple
tuple9 = ("pw","skills", 30)

# Step 2: Unpack the elements of the tuple into variables
var1, var2, var3 = tuple9

# Step 3: Print the variables
print("variable1:", var1)
print("variable2:", var2)
print("variable3:", var3)

variable1: pw
variable2: skills
variable3: 30

### 10. Create a tuple of even numbers from 1 to 10.

In [30]:
# Step 1: Create a list of even numbers using a list comprehension
temp_list10 = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_no_tuple = tuple(temp_list10)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_no_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [29]:
# Step 1: Create a list of odd numbers using a list comprehension
temp_list11 = [num for num in range(1, 11, 2)]  # Start from 1, step by 2, end at 10

# Step 2: Convert the list to a tuple
odd_no_tuple = tuple(temp_list11)

# Step 3: Print the resulting tuple
print("Tuple of odd numbers:", odd_no_tuple)

Tuple of odd numbers: (1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [127]:
# Step 1: Create two tuples
tup1 = (1, 2.14, "hello")
tup2 = (4, 5, 6)

# Step 2: Concatenate the two tuples
concat_tuple = tup1 + tup2

# Step 3: Print the concatenated tuple
print("Concatenated tuple of tuples is: ", concat_tuple)

Concatenated tuple of tuples is:  (1, 2.14, 'hello', 4, 5, 6)

### 13. Repeat a tuple three times.

In [128]:
# Step 1: Create a tuple
tuple13 = ("one", "two", "hello")

# Step 2: Repeat the tuple three times
temp_tuple13 = tuple13 * 3

# Step 3: Print the repeated tuple
print("Repeated tuple:", temp_tuple13)

Repeated tuple: ('one', 'two', 'hello', 'one', 'two', 'hello', 'one', 'two', 'hello')

### 14. Check if a tuple is empty.

In [7]:
tuple14 = ()  # An empty tuple
non_emptytup=(1,2,3,4,22)
if len(tuple14) == 0:
    print("The tuple14 is empty.")
else:
    print("The tuple is not empty.")
    
if len(non_emptytup) == 0:
    print("The tuple14 is empty.")
else:
    print("The non_emptytup is not empty.")

The tuple14 is empty.
The non_emptytup is not empty.

### 15. Create a nested tuple.

In [12]:
# Step 1: Create a nested tuple
tuple15 = ((29, 21, 3.14), ('b', 'c'), (True, False))

# Step 2: Print the nested tuple
print(" tuple is:", tuple15)

 tuple is: ((29, 21, 3.14), ('b', 'c'), (True, False))

### 16. Access the first element of a nested tuple.

In [13]:
# Step 1: Create a nested tuple
tuple16 = (("hello", 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Access the first element of the nested tuple
first_element = tuple16[0]

# Step 3: Print the first element
print("First element of the nested tuple:", first_element)

First element of the nested tuple: ('hello', 2, 3)

### 17. Create a tuple with a single element.

In [14]:
# Step 1: Create a tuple with a single element
tuple17 = (29,)  # Note the trailing comma

# Step 2: Print the single element tuple
print("Single element in tuple:", tuple17)

Single element in tuple: (29,)

### 18. Compare two tuples.

In [19]:
tuple_1 = (1, 2, 3)
tuple_2 = (1, 2, 4)

# Compare if the two tuples are equal
if tuple_1 == tuple_2:
    print("tuples are equal")
else:
    print("tuples are not equal")
    
# Compare if tuple1 is less than tuple2
if tuple_1 < tuple_2:
    print("tuple1 is less than tuple2")
else:
    print("tuple1 is not less than tuple2")

# Compare if tuple1 is greater than tuple2
if tuple_1 > tuple_2:
    print("tuple1 is greater than tuple2")
else:
    print("tuple1 is not greater than tuple2")
    
# Compare if tuple1 is less than or equalto tuple2
if tuple_1 <= tuple_2:
    print("tuple1 is less than tuple2")
else:
    print("tuple1 is not less than tuple2")

# Compare if tuple1 is greater than or equal to tuple2
if tuple_1 >= tuple_2:
    print("tuple1 is greater than tuple2")
else:
    print("tuple1 is not greater than tuple2")

tuples are not equal
tuple1 is less than tuple2
tuple1 is not greater than tuple2
tuple1 is less than tuple2
tuple1 is not greater than tuple2

### 19. Delete a tuple.

In [20]:
tuple19=(1,2,3,4,"hello")
del tuple19   #deleting a tuple using del function
print(tuple19)

NameError: name 'tuple19' is not defined

### 20. Slice a tuple.

In [24]:
# Step 1: Create a tuple
tuple20 = (1, "pwskills",5, 6, "hello", 8, 9, 10)

# Step 2: Slice the tuple to get a portion of it
sliced_tuple = tuple20[2:6]  

# Step 3: Print the sliced tuple
print("Sliced tuple is: ", sliced_tuple)

Sliced tuple is:  (5, 6, 'hello', 8)

### 21. Find the maximum value in a tuple.

In [26]:
# Step 1: Create a tuple
tuple21 = (10, 20, 500000, 45, 30)

# Step 2: Find the maximum value in the tuple using the 'max()' function
max_valueoftuple = max(tuple21)

# Step 3: Print the maximum value
print("Maximum value:", max_valueoftuple)

Maximum value: 500000

### 22. Find the minimum value in a tuple.

In [27]:
# Step 1: Create a tuple
tuple22 = (10, 20, 500000, 45, 30)

# Step 2: Find the minimum value in the tuple using the 'max()' function
min_valueoftuple = min(tuple22)

# Step 3: Print the min value
print("Maximum value:", min_valueoftuple)

Maximum value: 10

### 23. Convert a string to a tuple of characters.

In [31]:
# Step 1: Create a string
string_tup_23 = "Hello, World!"

# Step 2: Convert the string to a tuple of characters
tup_of_chars = tuple(string_tup_23)

# Step 3: Print the tuple of characters
print("Tuple of characters of string are: ", tup_of_chars)

Tuple of characters of string are:  ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

### 24. Convert a tuple of characters to a string.

In [34]:
# Step 1: Create a tuple of characters
tup_of_chars24 = ('p', 'w', 's', 'k', 'i', 'l', 'l','s')

# Step 2: Convert the tuple of characters to a string using the 'join()' method
string_from_tuple = ''.join(tup_of_chars24)

# Step 3: Print the resulting string
print("String from tuple:", string_from_tuple)

String from tuple: pwskills

### 25. Create a tuple from multiple data types.

In [36]:
# Creating a tuple with elements of different data types
tuple25 = (1, "hello", 3.14,"welcome", True)

# Printing the tuple
print(tuple25)

(1, 'hello', 3.14, 'welcome', True)

### 26. Check if two tuples are identical.

In [37]:
tuple_2check1=(1,2,3)
tuple_2check2=(1,2,3)
if tuple_2check1==tuple_2check2:   #checking if two tuples are identical
    print("they are identical tuples")
else:
    print("they are not identical tuples")

they are identical tuples

### 27. Sort the elements of a tuple.

In [38]:
# Step 1: Create a tuple
tuple27 = (500, 2, 8, 1, 3)

# Step 2: Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(tuple27))

# Step 3: Print the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 8, 500)

### 28. Convert a tuple of integers to a tuple of strings.

In [41]:
# Step 1: Create a tuple of integers
tuple28 = (1, 2, 3, 4, 5)

# Step 2: Convert the tuple of integers to a tuple of strings using a list comprehension
tuple28 = tuple(str(element) for element in tuple28)

# Step 3: Print the tuple of strings
print("Tuple of strings are:  ", tuple28)

Tuple of strings are:   ('1', '2', '3', '4', '5')

### 29. Convert a tuple of strings to a tuple of integers.

In [42]:
# Step 1: Create a tuple of strings
tuple_of_strings = ('10', '20', '30', '40', '50')

# Step 2: Convert the tuple of strings to a tuple of integers 
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

# Step 3: Printing the tuple of integers
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

### 30. Merge two tuples.

In [46]:
# Step 1: Create two tuples
tuple1_merg= (1, 2, 3)
tuple2_merg = (4, "hello", 6,"king")

# Step 2: Merge the two tuples using the '+' operator
merged_tuple = tuple1_merg+ tuple2_merg

# Step 3: Print the merged tuple
print("Merged tuple of tupl1 and tupl2 is:  ", merged_tuple)

Merged tuple of tupl1 and tupl2 is:   (1, 2, 3, 4, 'hello', 6, 'king')

### 31. Flatten a nested tuple.

In [48]:
def flattened_tuple1(nested_tuple):
    flat_list = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flat_list.extend(flattened_tuple1(item))  # flattening elements using extend function in nested tuple 
        else:
            flat_list.append(item)
    return tuple(flat_list)

nested_tuple = (1, (2, 3), (4, (5, 6)), 7)
flat_tuple = flattened_tuple1(nested_tuple)
print(flat_tuple)

(1, 2, 3, 4, 5, 6, 7)

### 32. Create a tuple of the first 5 prime numbers.

In [4]:
def check_prime(x):
    if x<=1:
        return False
    for i in range(2,int(x**0.5)+1):
        if x%i ==0:
            return False
    return True
#checking prime numbers between range
prime_numbers = [x for x in range(2, 100) if check_prime(x)][:5]

# Converting the list to a tuple
prime_numbers_tuple = tuple(prime_numbers)

# Printing the tuple of prime numbers
print("the first 5 prime numbers are: ", prime_numbers_tuple)

the first 5 prime numbers are:  (2, 3, 5, 7, 11)

### 33. Check if a tuple is a palindrome.

In [6]:
tuple33=(1,2,3,2,1)
temp_tuple33=tuple33[::-1]   #checking palindrome of tuple
if tuple33==temp_tuple33:
    print("this tuple is a palindrome")
else:
    print("tuple is not palindrome")

this tuple is a palindrome

### 34. Create a tuple of squares of numbers from 1 to 5.

In [16]:
tuple34=[]
temp=[i**2 for i in range(10)]  #tuple of squares of numbers from 1 to 5
print(tuple(temp))

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

### 35. Filter out all even numbers from a tuple.

In [23]:
tuple35=[1,2,3,4,5,6,7,78,7,5,3,3,4]
temp_tuple35=[]
for i in tuple35:
    if i%2==0:     #filtering even numbers
        temp_tuple35.append(i)
print(tuple(temp_tuple35))

(2, 4, 6, 78, 4)

### 36. Multiply all elements in a tuple by 2.

In [25]:
tuple36=[1,2,4,5,6,3,2]
temp=[i*2 for i in tuple36]  #multiplying all elements in a tuple by 2 
print(tuple(temp))

(2, 4, 8, 10, 12, 6, 4)

### 37. Create a tuple of random numbers.

In [7]:
import random

# Creating a tuple of random numbers using a list comprehension
tuple37 = tuple(random.randint(1, 100) for i in range(10))

# Printing the tuple of random numbers
print("Random tuple:  ", tuple37)

Random tuple:   (8, 13, 19, 10, 79, 59, 55, 49, 55, 52)

### 38. Check if a tuple is sorted.

In [9]:
def is_sorted_tuple(t):
    for i in range(len(t) - 1):
        if t[i] > t[i + 1]:    #checking if tuples are sorted are not
            return "tuple is not sorted"
    return "tuple is sorted"

sort_tuple_1 = (1, 2, 3, 4, 5)  
sort_tuple_2 = (5, 3, 1, 2, 4)

print(is_sorted_tuple(sort_tuple_1))  
print(is_sorted_tuple(sort_tuple_2))

tuple is sorted
tuple is not sorted

### 39. Rotate a tuple to the left by `n` positions.

In [16]:
# Example tuple
tuple39 = (1, 2, 3, 4, 5)
n = 2

n = n % len(tuple39)  # Ensuring n is within the range of tuple length
rotattuple = tuple39[n:] + tuple39[:n]  # Rotate the tuple



result = rotattuple
print("rotated tuple is: ",result)

rotated tuple is:  (3, 4, 5, 1, 2)

### 40. Rotate a tuple to the right by `n` positions.

In [17]:
# Example tuple
tuple40 = (1, 2, 3, 4, 5)
n1 = 2

n1 = n1 % len(tuple39)  # Ensuring n is within the range of tuple length
rotattuple = tuple40[-n1:] + tuple40[:-n1]  # Rotate the tuple



result = rotattuple
print("rotated tuple is: ",result)

rotated tuple is:  (4, 5, 1, 2, 3)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [20]:
n=5
fibonacci = [0, 1]                                      # Initializing the list with the first 2 Fibonacci numbers
while len(fibonacci) < n:                               
    next_number = fibonacci[-1] + fibonacci[-2]         # Calculate the next Fibonacci number
    fibonacci.append(next_number)                        # Add the next Fibonacci number to the list
                                         # Convert the list to a tuple and return it

fibonacci_tuple = tuple(fibonacci)
# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

### 42. Create a tuple from user input.

In [1]:
# Prompt the user for input and split it into a list
tuple42 = input("Enter elements separated by spaces: ")
input_list = tuple42.split()

# Convert the list to a tuple
tuple_from_input = tuple(input_list)

# Print the tuple
print("Tuple created from user input:", tuple_from_input)

Enter elements separated by spaces: vishal 1 2 3 4.3
Tuple created from user input: ('vishal', '1', '2', '3', '4.3')

### 43. Swap two elements in a tuple.

In [3]:

tuple43 = (1, 2, 3, 4, 5)

index1 = int(input("enter the index1: "))
index2 = int(input("enter the index2: "))
swapped_tuple = tuple(
    tuple43[i] if i not in (index1, index2) else
    tuple43[index2] if i == index1 else
    tuple43[index1]
    for i in range(len(tuple43))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

enter the index1: 2
enter the index2: 1
Swapped tuple: (1, 3, 2, 4, 5)

### 44. Reverse the elements of a tuple.

In [4]:

tuple44 = (1, 2.5, 3, 4765, 125)

# Reverse the elements using slicing
reversed_tuple = tuple44[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (125, 4765, 3, 2.5, 1)

### 45. Create a tuple of the first `n` powers of 2.

In [6]:
# Define the value of n
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powof_2_tuple45 = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powof_2_tuple45)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

### 46. Find the longest string in a tuple of strings.

In [7]:
# Create a tuple of strings
tuple46 = ("pwskills", "banana", "hello", "dog",)

# Find the longest string in the tuple
longest_string_tuple46 = max(tuple46, key=len)

# Print the longest string
print("Longest string:", longest_string_tuple46)

Longest string: pwskills

### 47. Find the shortest string in a tuple of strings.

In [9]:
# Create a tuple of strings
tuple47 = ("pwskills", "banana", "hello", "dog","is","i")

# Find the shortest string in the tuple
smallest_string_tuple47 = min(tuple47, key=len)

# Print the smallest string
print("smallest string:", smallest_string_tuple47)

smallest string: i

### 48. Create a tuple of the first `n` triangular numbers.

In [10]:
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
numbers_tuple48 = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", numbers_tuple48)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

### 49. Check if a tuple contains another tuple as a subsequence.

In [3]:
def list_subsequence(subsequence, main_list):
    return all(subseq_elem in main_list for subseq_elem in subsequence)


main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tup=tuple(main_list)
subsequence = [3, 5, 8]


if list_subsequence(subsequence, main_list):
    print(" list contains the subsequence.")
else:
    print(" list does not contain the subsequence.")

 list contains the subsequence.

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [4]:

n = int(input("enter the length of n: "))

# Create a tuple of alternating 1s and 0s using a list comprehension
tuple50 = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", tuple50)

enter the length of n: 20
Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

## Set Based Practice Problem :

### 1. Create a set with integers from 1 to 5.

In [7]:
set1=set()  #creating a set
for i in range(1,6):
    set1.add(i)  #appending integers to created set
print(set1)

{1, 2, 3, 4, 5}

### 2. Add an element to a set.

In [8]:
set2={2,3,5,6}
add_set=int(input("enter the element to add: "))
set2.add(add_set)    #adding element to existing set
print(set2)

enter the element to add: 23
{2, 3, 5, 6, 23}

### 3. Remove an element from a set.

In [11]:
set3={2,3,5,6,90}
remove_set=int(input("enter the element to remove: "))
set3.remove(remove_set)     #removing specific element from set3 given by user 
print(set3)

enter the element to remove: 90
{2, 3, 5, 6}

### 4. Check if an element exists in a set.

In [14]:
set4 = {1, 3, 5, 7, 9}

check_elem = int(input("Enter the element to check: "))

# Step 3: Use the "in" keyword to check if the element exists in the set
if check_elem in set4:
    # Step 4: If the element exists in the set, print a message
    print(f"{check_elem} exists in the set.")
else:
    # Step 5: If the element does not exist in the set, print a message
    print(f"{check_elem} does not exist in the set.")

Enter the element to check: 9
9 exists in the set.

### 5. Find the length of a set without using the `len()` function.

In [16]:
# Creating a set with some elements
set5 = {1, 2, 3, 4, 5,45,69,29}

# Initialize a variable 
count = 0

# Iterate through each element in the set
for i in set5:
    # Increase the count by 1 for each element
    count += 1

# Print the count, which is the length of the set
print("Length of the set5 is: ", count)

Length of the set5 is:  8

### 6. Clear all elements from a set.

In [18]:
set6={1,2,3}
set6.clear()     #clearing whole set using clear function
print(set6)

set()

### 7. Create a set of even numbers from 1 to 10.

In [19]:
# Step 1: Initialize an empty set
set7 = set()

# Step 2: Iterate through numbers from 1 to 10


for num in range(1, 11):                               # Step 3: Check if the number is even
    if num % 2 == 0:
                                   # Step 4: Add the even number to the set
        set7.add(num)

                                    # Step 5: Print the set of even numbers
print(set7)

{2, 4, 6, 8, 10}

### 8. Create a set of odd numbers from 1 to 10.

In [20]:
# Step 1: Initialize an empty set
set8 = set()

# Step 2: Iterate through numbers from 1 to 10


for num in range(1, 11):                               # Step 3: Check if the number is even
    if num % 2 != 0:
                                   # Step 4: Add the even number to the set
        set8.add(num)

                                    # Step 5: Print the set of even numbers
print(set8)

{1, 3, 5, 7, 9}

### 9. Find the union of two sets.

In [21]:
set_union1={1,2,3,4}
set_union2={1,2,29}
temp_set9=set_union1.union(set_union2)  #finding union between two given sets
print(temp_set9)

{1, 2, 3, 4, 29}

### 10. Find the intersection of two sets.

In [25]:
set_inter1={1,2,3,4}
set_inter2={1,2,29}
temp_set10=set_inter1.intersection(set_inter2)  #finding intersection between two given sets
print(temp_set10)

{1, 2}

### 11. Find the difference between two sets.

In [26]:
set_differ1={1,2,3,4}
set_differ2={1,2,29}
temp_set11=set_differ1.difference(set_differ2)  #finding difference between two given sets
print(temp_set11)

{3, 4}

### 12. Check if a set is a subset of another set.

In [28]:
# Define the two sets
check_set1 = {1, 2, 3}
check_set2 = {1, 2, 3, 4, 5}

# Use the "issubset()" method to check if set1 is a subset of set2
temp_is_subset = check_set1.issubset(check_set2)

# Print the result
print("Is set1 is a subset of set2:", temp_is_subset)

Is set1 is a subset of set2: True

### 13. Check if a set is a superset of another set.

In [29]:
# Create two sets
ss_set1 = {1, 2, 3, 4, 5, 6}
ss_set2 = {3, 4}

# Check if set1 is a superset of set2
is_superset = ss_set1.issuperset(ss_set2)

# Print the result
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

### 14. Create a set from a list.

In [30]:
list_set=[1,2,3,4]   #creating a set from list
set14=set(list_set)  #converting list to set
print(set14)

{1, 2, 3, 4}

### 15. Convert a set to a list.

In [31]:
set_list15={1,2,3,222.9}
temp_set15=list(set_list15)   #converting set to list
print(temp_set15)

[1, 2, 3, 222.9]

### 16. Remove a random element from a set.

In [33]:
import random  

set16 = {1, 2, 3, 4, 5}


print("before set is:     ", set16)

# Choosing a random element from the set using the random.choice() function
rand_element = random.choice(list(set16))

# Remove the chosen random element from the set using the remove() method
set16.remove(rand_element)

# Display the updated set after removing the random element
print(" set after removing", rand_element, "is:   ", set16)

before set is:      {1, 2, 3, 4, 5}
 set after removing 2 is:    {1, 3, 4, 5}

### 17. Pop an element from a set.

In [37]:
# Create a set with some elements
set17 = {1, 29,345678, 3, 4, 5}


print("before set is: ", set17)

# Pop an element from the set using the pop() method
popped_elem = set17.pop()

# Print the element that was popped
print("Popped element is: ", popped_elem)

# Print the set after popping an element
print("Set after popping is:  ", set17)

before set is:  {1, 3, 4, 5, 29, 345678}
Popped element is:  1
Set after popping is:   {3, 4, 5, 29, 345678}

### 18. Check if two sets have no elements in common.

In [39]:
# Step 1: Define two sets
ncs_set1 = {1, 2, 3, 4}
ncs_set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = ncs_set1.intersection(ncs_set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

two sets have no elements in common.

### 19. Find the symmetric difference between two sets.

In [43]:
# Define two sets
ssd_set1 = {1, 2, 3, 4,344,5}
ssd_set2 = {4, 5, 6, 7, 8}

# Calculate the symmetric difference using the ^ operator
symmetric_difference = ssd_set1 ^ ssd_set2

print("Symmetric Difference of 2 sets is:  ", symmetric_difference)

Symmetric Difference of 2 sets is:   {1, 2, 3, 344, 6, 7, 8}

### 20. Update a set with elements from another set.

In [45]:
set1 = {1, 2, 3}
print("Set 1 is:  ", set1)


anoth_set2 = {3, 4, 5}
print("Set 2:", set2)

                                    # Update set1 with elements from set2
set1.update(anoth_set2)
print("Updated Set 1:", set1)

Set 1 is:   {1, 2, 3}
Set 2: {2, 3, 5, 6, 23}
Updated Set 1: {1, 2, 3, 4, 5}

### 21. Create a set of the first 5 prime numbers.

In [46]:
# Initializing an empty set
set21 = set()
# Use a for loop to add the first five numbers to the set 
for i in range(1, 6):
    set21.add(i)

print(set21)

{1, 2, 3, 4, 5}

### 22. Check if two sets are identical.

In [48]:
id_set1={12,32,1234}
id_set2={12,32,1234}

if id_set1==id_set2:  #checking if two sets are identical or not
    print("two sets are identical: ")
else:
    print("two sets are not identical: ")

two sets are identical:

### 23. Create a frozen set.

In [49]:
# Step 2: Define a list of elements that you want to include in the frozen set
set23 = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
frozen_set_is = frozenset(set23)

# Step 4: Print the frozen set
print("Frozen Set of set23 is:", frozen_set_is)

Frozen Set of set23 is: frozenset({1, 2, 3, 4, 5})

### 24. Check if a set is disjoint with another set.

In [50]:
# Step 1: Define the two sets you want to check for disjointness
isd_set1 = {1, 2, 3, 4}
isd_set2 = {5, 6, 7, 8}

# Step 2: Use the `isdisjoint()` method to check if the sets are disjoint
# The `isdisjoint()` method returns True if the sets have no common elements,
# and False if they have at least one common element.

if isd_set1.isdisjoint(isd_set2)==True:
    print("set1 and set2 are disjoints")
else:
    print("sets are not disjoint")

set1 and set2 are disjoints

### 25. Create a set of squares of numbers from 1 to 5.

In [52]:
# Step 1: Create an empty set to store the squares of numbers
set25 = set()

# Step 2: Use a loop to iterate through numbers from 1 to 5
for i in range(1, 6):
    # Step 3: Calculate the square of the current number
    square = i**2

    # Step 4: Add the square to the set
    set25.add(square)

print(set25)

{1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set.

In [55]:
set26 = {1, 2, 3, 4, 5}

even_numbers_set = set()  

for num in set26:
    if num % 2 == 0:  #filtering even numbers from set
        even_numbers_set.add(num)

print("original Set:", set26)
print("Even Numbers Set:", even_numbers_set)

original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

### 27. Multiply all elements in a set by 2.

In [3]:
# Create a set with the first five numbers
set27 = {1, 2, 3, 4, 5}

# Convert the set to a list
num_list = list(set27)

# Multiply all elements in the list by 2
for i in range(len(num_list)):
    num_list[i] *= 2

# Create a new set from the modified list
multipled_set = set(num_list)

print(multipled_set)

{2, 4, 6, 8, 10}

### 28. Create a set of random numbers.

In [6]:
import random

# Set the number of random integers you want
temp_set28 = 10

# Create an empty set to store the random integers
set28 = set()

# Generate and add random integers to the set
for i in range(temp_set28):
    set28.add(random.randint(1, 100))

print(set28)

{99, 70, 8, 73, 14, 83, 21, 24, 57, 31}

### 29. Check if a set is empty.

In [7]:
# Step 1: Create a set (you can replace this with your own set)
set29 = set()

# Step 2: Check if the set is empty using the 'if' statement
if not set29:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

### 30. Create a nested set (hint: use frozenset).

In [9]:
# Step 1: Create the inner sets
ns_set1 = {1, 2, 3, 4, 5}
ns_set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
temp_set1 = frozenset(ns_set1)
temp_set2 = frozenset(ns_set2)

# Step 3: Create the nested set using the frozensets
nested_set = {temp_set1, temp_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

### 31. Remove an element from a set using the discard method.

In [12]:
set31 = {1, 2, 3, 4, 5}

# Display the initial set
print("before discarding set:  ", set31)

# Define the element to be removed
dis_elem = 3

# If the element is not present in the set, discard() won't raise an error
set31.discard(dis_elem)

# Display the set after removing the element
print(" after removing element: ", dis_elem, ":", set31)

before discarding set:   {1, 2, 3, 4, 5}
 after removing element:  3 : {1, 2, 4, 5}

### 32. Compare two sets.

In [15]:
# Step 1: Define two sets
comp_set1 = {1, 2, 53, 4, 5}
comp_set2 = {4, 5, 6, 7, 8}

# Check if set1 is a subset of set2
is_subset = comp_set1.issubset(comp_set2)

# Check if set2 is a subset of set1
is_superset = comp_set1.issuperset(comp_set2)

# Find the intersection of the sets
intersection = comp_set1.intersection(comp_set2)

# Find the union of the sets
union = comp_set1.union(comp_set2)

# Find the elements that are in set1 but not in set2
difference1 = comp_set1.difference(comp_set2)

difference2 = comp_set2.difference(comp_set1)
# Step 3: Print the results
print("Set 1:", comp_set1)
print("Set 2:", comp_set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 4, 5, 53}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 4, 5, 6, 7, 8, 53}
Elements in set1 but not in set2: {1, 2, 53}
Elements in set2 but not in set1: {8, 6, 7}

### 33. Create a set from a string.

In [19]:
# Step 1: Define the input string
string_set33 = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
letter_set = set(string_set33)

# Step 3: Print the resulting set
print(letter_set)

{'l', 'o', 'h', 'e'}

### 34. Convert a set of strings to a set of integers.

In [25]:
set34 = {"123", "456", "789"}
integer_set = set()

for string in set34:
    integer_value = int(string)

    #  Adding the integer to the integer set
    integer_set.add(integer_value)

#  Printing the sets
print(" String Set is:  ",set34)
print("converted Integer set is:  ", integer_set)

 String Set is:   {'456', '123', '789'}
converted Integer set is:   {456, 123, 789}

### 35. Convert a set of integers to a set of strings.

In [27]:
set35 = {12, 456, 78}
str_set = set()

for string in set35:
    str_value = str(string)

    #  Adding the integer to the integer set
    str_set.add(str_value)

#  Printing the sets
print(" integer Set is:  ",set35)
print("converted str set is:  ", str_set)

 integer Set is:   {456, 12, 78}
converted str set is:   {'456', '78', '12'}

### 36. Create a set from a tuple.

In [28]:
tuple36 = (1, 2, 3, 2, 4, 5, 1)

# Step 1: Convert the tuple to a set
set36 = set(tuple36)

# Step 2: Print the resulting set
print(set36)

{1, 2, 3, 4, 5}

### 37. Convert a set to a tuple.

In [30]:
set37={1,2,3,4,5} 
temp_set37=tuple(set37)  #converting set37 into tuple
print(temp_set37)   #printing converted set

(1, 2, 3, 4, 5)

### 38. Find the maximum value in a set.

In [57]:
# Define a set with some values
set38 = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for i in set38:
    
    if max_value is None or i>max_value:
        max_value = i            # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value in set is:  ", max_value)

Maximum value in set is:   22

### 39. Find the minimum value in a set.

In [60]:
# Define a set with some values
set39 = {15, 7, 22, 13, 8}

# Initialize a variable to store the min value
min_value = None

# Iterate through each element in the set
for i in set39:
    
    if min_value is None or i<min_value:
        min_value = i            # Update min_value with the current number if it's lesser

# Print the minimum value
print("Minimum value in set is:  ", min_value)

Minimum value in set is:   7

### 40. Create a set from user input.

In [61]:
str_set40 = input("Enter a space-separated list of values: ")

# Split the input string into a list of values
list_set40 = str_set40.split()

# Create a set from the list of values
user_set = set(list_set40)

# Print the set created from user input
print("Set created from user input is:     ", user_set)

Enter a space-separated list of values: 1 34 hello
Set created from user input: {'34', 'hello', '1'}

### 41. Check if the intersection of two sets is empty.

In [62]:
# Step 1: Define two sets
cncs_set1 = {1, 2, 3, 4}
cncs_set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = cncs_set1.intersection(cncs_set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("intersection of two sets is empty")
else:
    print("intersection of two sets is not empty", common_elements)

intersection of two sets is empty

### 42. Create a set of the first 5 Fibonacci numbers.

In [66]:
n=6
fibonacci_set = [0, 1]                                      # Initializing the list with the first 2 Fibonacci numbers
while len(fibonacci_set) < n:                               
    next_number = fibonacci_set[-1] + fibonacci_set[-2]         # Calculate the next Fibonacci number
    fibonacci_set.append(next_number)                        # Add the next Fibonacci number to the list
                                         # Convert the list to a tuple and return it

fibonacci_tuple_set = tuple(fibonacci_set)
# Printing the converted tuple ie set
print(set(fibonacci_tuple_set))

{0, 1, 2, 3, 5}

### 43. Remove duplicates from a list using sets.

In [67]:
set43=[2,2,3,3,29,69,69,123] #creating set
temp_set43=set(set43) #removing duplicate values from set43
print(temp_set43)

{2, 3, 69, 123, 29}

### 44. Check if two sets have the same elements, regardless of their count.

In [69]:
# Define two sets
set1={1, 2, 3, 4, 5}
set2={5, 4, 3, 2, 1}

# Check if the sets have the same elements regardless of order
if set1 == set2:
    print(" sets have the same elements.")
else:
    print("sets do not have the same elements.")

 sets have the same elements.

### 45. Create a set of the first `n` powers of 2.

In [72]:
n = int(input("Enter the value of n:   "))  # Prompt the user for n

powerof_2_set = set()  # Initialize an empty set to store the powers of 2

for i in range(n):
    powerof_2 = 2 ** i  # Calculate 2 to the power of i
    powerof_2_set.add(powerof_2)  # Add it to the set

print("Set of the first", n, "powers of 2 is:   ", powerof_2_set)

Enter the value of n:   5
Set of the first 5 powers of 2 is:    {1, 2, 4, 8, 16}

### 46. Find the common elements between a set and a list.

In [75]:
# Define a set and a list
set46 = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

# Find the common elements using set intersection
common_elements_set = set46.intersection(my_list)

# Convert the result to a list if needed
common_elements_list = list(common_elements_set)

print("Common elements between set and list are:  ", common_elements_list)

Common elements between set and list are:   [3, 4, 5]

### 47. Create a set of the first `n` triangular numbers.

In [77]:
n = int(input("Enter the value of n: "))  #taking input from user

set47 = set()  # Initialize an empty set to store the triangular numbers

for i in range(1, n + 1):
    triangular_number = (i * (i + 1)) // 2  # Calculate the i-th triangular number
    set47.add(triangular_number)  # Add it to the set

print("Set of the first", n, "triangular numbers:", set47)

Enter the value of n: 9
Set of the first 9 triangular numbers: {1, 3, 36, 6, 10, 45, 15, 21, 28}

### 48. Check if a set contains another set as a subset.

In [79]:
# Define the sets
ss_set1_48 = {1, 2, 3, 4, 5}
ss_set2_48 = {2, 3,4}

# Check if set2 is a subset of set1
is_subset = ss_set2_48 <= ss_set1_48

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

### 49. Create a set of alternating 1s and 0s of length `n`.

In [81]:

n = int(input("enter the length of n: "))

# Create a tuple of alternating 1s and 0s using a list comprehension
set49 = tuple(i % 2 for i in range(n))
temp_set49=set(set49)
# Print the tuple of alternating 1s and 0s
print("set of alternating 1s and 0s is:", temp_set49)

enter the length of n: 7
set of alternating 1s and 0s is: {0, 1}

### 50. Merge multiple sets into one.

In [82]:
# Step 1: Create multiple sets
set1 = {1,2,3,34}
set2 = {3,4,5,333}
set3 = {5,6,7}

# Step 2: Use the union() method to merge sets
merge_set = set1.union(set2, set3)

# Step 3: Print the merged set
print("Merged Set of set1,set2,set3 is:  ", merge_set)

Merged Set of set1,set2,set3 is:   {1, 2, 3, 34, 5, 4, 6, 7, 333}